info:
  app:
    name: @project.name@
    version: @project.version@
# CORS configuration
allowed:
  origins: ${ALLOWED_ORIGINS:http://localhost:4200}
  headers: ${ALLOWED_HEADERS:app-key,x-real-ip,content-type,authorization}
# CSRF ACTIVATION
activate:
  csrf: ${ACTIVATE_CSRF:false}
# enable problem details support for spring mvc (see RFC 9457)
spring:
  config:
    import: classpath:/base-config-application.yaml
  mvc:
    problemdetails:
      enabled: true
  # disable spring security password generation
  security:
    user:
      password: ""
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 2MB

igs-gateway:
  client:
    # full URL to igs-service to be used for internal service call and frontend binary file upload (without trailing slash)
    igs: ${IGS_SERVICE_URL:http://igs-service.demis.svc.cluster.local/surveillance/notification-sequence}
    igsPublic: ${IGS_SERVICE_URL_PUBLIC:http://localhost:8080/surveillance/notification-sequence}
    igsReadBinary: ${IGS_SERVICE_URL_READ_BINARY:/fhir/DocumentReference/{documentId}}
    futs:
      address: ${FUTS_IGS_URL:http://futs.demis.svc.cluster.local}
      context-path: ${FUTS_IGS_CONTEXT_PATH:/fhir-ui-data-model-translation/}
  cache:
    futs:
      cron: ${FUTS_CACH_CRON:"0 0/30 * * * *"}

igs:
  profile:
    version: v3
  code-systems:
    loinc:
      version: ${IGS_PROFILE_CODE_SYSTEM_LOINC_VERSION:2.79}
    snomed:
      version: ${IGS_PROFILE_CODE_SYSTEM_SNOMED_VERSION:http://snomed.info/sct/11000274103/version/20241115}

feature:
  flag:
    new:
      api:
        endpoints: false